<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../bootstrap/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/hojadevida.css">

    <script type="text/javascript" src="../bootstrap/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/holajose.js"></script>

    <title>Hoja de vida Ruth</title>
</head>

<body>
    
    <div class="jumbotron container info ">

            <div class="foto">
                Img imagen mia
                <img herf="">
            </div>

        <div class="position"> <!--  cuerpo de la hoja de vida -->
            <div>
                    <table class="">
                        <tr>
                            <td>
                                Nombre
                            </td>
                            <td>
                                <input type="text" value="" placeholder="Ruth Elsy" id=''>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Apellido
                            </td>
                            <td>
                                <input type="text" value="" placeholder="Tobar" id=''>
                            </td>
                        </tr>
                    </table>
                </div>
        
        
                <div class="contenedor">
                    <h4 class="center">Pefil</h4><br>
                    <p>
                        Yo soy mera loca me gusta ver las nalgas del rutfo y cuando me lo chupa me quiero morir...
                    </p>
                    <input type="textarea" size="10">
                </div>
        
                <div class="contenedor">
                    <h4 class="center">Referencias personales</h4><br>
                    <p>
                        <ul>
                            <li>Nombre :</li>
                            <li>Apellido :</li>
                            <li>Ocupacion :</li>
                        </ul>
        
                    </p>
                </div>
                <div class="contenedor">
                    <h4 class="center">Referencias Familiares</h4><br>
                    <p>
                        <ul>
                            <li>Nombre :</li>
                            <li>Apellido :</li>
                            <li>Ocupacion :</li>
                        </ul>
        
                    </p>
                </div>
                <div class="contenedor">
                    <h4 class="center">Estudios Primarios</h4><br>
                    <p>
                        <ul>
                            <li>Nombre :</li>
                            <li>Apellido :</li>
                            <li>Ocupacion :</li>
                        </ul>
        
                    </p>
                </div>
                <div class="contenedor">
                    <h4>Estudios Secundarios</h4><br>
                    <p>
                        <ul>
                            <li>Nombre :</li>
                            <li>Apellido :</li>
                            <li>Ocupacion :</li>
                        </ul>
        
                    </p>
                </div>
        

        </div>
    </div>

</body>

</html>